@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6,
p,
div,
li,
ol,
ul,
img,
span,
a {
    margin: 0;
    padding: 0;
}

:root {
    --primary_text_color: rgb(255, 255, 255);
    --primary_background_color: #121212;
    --secondary_background_color: #191919;
    --pink_color: #ff4655;
    --barlow: "Barlow Condensed", sans-serif;
    --oswald: "oswald", sans-serif;


}

.container {
    max-width: 1330px;
    margin: auto;
}

/* =================Navbar CSS===================================== */
nav {
    padding: 30px 0;
    background-color: var(--primary_background_color);
}

.menu {
    display: flex;
    justify-content: center;
    align-items: center;

}

.menu__items {
    padding-left: 60px;
    padding-right: 453px;
    padding-top: 12px;
}


.menu__items ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu__items .list .list_item a {
    color: var(--primary_text_color);
    font-family: var(--oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    justify-content: center;
}

.menu__icons {
    display: flex;
    column-gap: 25px;
    align-items: center;
    margin-bottom: 10px;

}

.menu__icons .icons__item {

    color: var(--primary_text_color);
    font-size: 17px;

}

.signin--text {
    font-family: var(--oswald);
    color: var(--primary_text_color);
    font-size: 16px;
    font-weight: 400;

}

/* ====================Navbar CSS End===================================== */
/* ====================Banner part CSS================================= */
#banner__part {

    padding: 280px 0 108px;
    background: url(../images/banner\ 1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.banner__subtitle {
    color: var(--primary_text_color);
    font-family: var(--oswald);
    font-size: 27px;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: 2.7px;
}

.banner__title {
    color: var(--primary_text_color);
    font-family: var(--oswald);
    font-size: 60px;
    font-weight: 600;
    margin-bottom: 5px;

}