@import url('https://fonts.googleapis.com/css2?family=Barlow:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Oswald:wght@200..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: 0;
}

ul,
ol {
    list-style: none;
}

a {
    text-decoration: none;
    display: inline-block;
}

h1,
h2,
h3,
h4,
h5,
h6,
h6,
p,
div,
li,
ol,
ul,
img,
span,
a {
    margin: 0;
    padding: 0;
}

:root {
    --primary_text_color: rgb(255, 255, 255);
    --primary_background_color: #121212;
    --secondary_background_color: #191919;
    --pink_color: #ff4655;
    --barlow: "Barlow Condensed", sans-serif;
    --oswald: "oswald", sans-serif;


}

.container {
    max-width: 1330px;
    margin: auto;
}

nav {
    padding: 30px 0;
    background-color: var(--primary_background_color);
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu__items ul {
    display: flex;
    align-items: center;
    column-gap: 30px;
}

.menu__items .list .list_item a {
    color: var(--primary_text_color);
    font-family: var(--oswald);
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.menu__icons a{

    vertical-align: middle;
    color: var(--primary_text_color);

}